.container {
  padding: 0 2rem;
  align-items: center;
  flex: 1;
  display: inline-flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.App {
  height: 100vh;
  flex: 1;

}

.App-header {
  color: #ffffff;
  flex: 1;
  /* display: inline-flex; */
  justify-content: center;
  align-items: center;
  height: 100px;
  /* width: 100%; */

  /* border: 1px solid white; */
  text-align: center;
}